* {
    margin: 0;
    font-family: arial;
    box-sizing: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* box1 */
.nav-logo {
    height: 60px;
    width: 135px;
}
.logo {
    background-image: url('image.png');
    background-size: cover;
    width: 100%;
    height: 50px;
}
.border {
    border:1.5px solid transparent;
    height: 45px;
}
.border:hover {
    border:1.5px solid #fff;
}
/* box2 */
.add-one{
    color: #cccccc;
    font-size: 1rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1.5rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 620px;
    height: 40px;
    border-radius: 4px;
   
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    height: 40px;
    text-align: center;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-input {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/* box-4,5 */
span { 
    font-size: .75rem;
    font-weight: 700;

}
.nav-signin {
    font-size: .8rem;
    font-weight: 700;

}
/* box-6 */
.nav-cart i {
font-size:35px;
}
.nav-cart {
    font-size: .85rem;
    font-weight: 750;
}
/* next nav-bar */
.panel {
height: 40px;
background-color: #222f3d;
display: flex;
 color: #fff;
 align-items: center;
 justify-content: space-evenly;
}
.panel-ops p {
    display: inline;
    margin-left: 15px;
}
.panel-ops {
font-size: .85rem;
   width: 70%;
}
.panel-deals{
    font-size: 9rems;
    font-weight: 700;
}